<!doctype html>
<html>
<head>
    <title>Barista On Track</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Joe's Joe</h1>
        <img src="https://i.imgur.com/p6UZVJx.jpg" alt="Coffee" class="heyJoe">
        <h2>Hey, it's me Joe! <br> Get Joe's hot coffee all up in your mouth, from me... Joe!<br> Number 1's Hot Joe's coffee<br> It's the best... by me Joe</br> Joe's Never Lost</h2>
        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
